<nav>
    <ul>
        <li><a [routerLink]="'/welcome'">
            Home
            </a>
        </li>
        <li><a [routerLink]="'/properties'">
            Property List
            </a>
        </li>
        <li><a [routerLink]="'/property'">
            Add Property
            </a>
        </li>
        <li><a [routerLink]="'/login'">
            Log in
            </a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
