<div class="row">
  <div class="col-sm-4">
    <form class="form-inline">
      <div class="form-group">
        <label for="search">Search:</label>
        <input type="text" name="searchText" [(ngModel)]="searchText" class="form-control" id="search" placeholder="Type property name" />
      </div>
    </form>
  </div>
</div>
<div class="spinner" *ngIf="!isPropertiesLoaded">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<div class="row margin-top-10" *ngIf="isPropertiesLoaded">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Accessibility</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let property of properties | propertyName: searchText">
          <td>{{property.name}}</td>
          <td>
            <div><button (click)="property.showImage = !property.showImage" class="btn btn-success">{{property.showImage ? 'Hide Image' : 'Show Image'}}</button></div>
            <img class="margin-top-10" [src]="property.imageUrl" height="150" width="150" *ngIf="property.showImage" />
          </td>
          <td><p-rating readonly="true" [cancel]="false" [(ngModel)]="property.accessibility"></p-rating></td>
          <td>
            <a href="javascript:;" [routerLink]="'/property-details/' + property.id">View Details</a> |
            <a href="javascript:;" [routerLink]="'/property/' + property.id">Edit</a> |
            <a href="javascript:;" (click)="deleteProperty(property.id)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
