<div class="row">
  <div class="col-sm-12">
    <div class="spinner" *ngIf="!isPropertyLoaded">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div class="card" *ngIf="isPropertyLoaded">
      <div class="card-header">Property {{property.name}}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-right">
              <button class="btn btn-default" [routerLink]="'/property/' + property.id">Edit</button>
            </div>
          </div>
        </div>
        <form class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Name</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{property.name}}</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Accessibility</label>
                  <div class="col-sm-9">
                    <p class="form-control-static"><p-rating readonly="true" [cancel]="false" name="accessibility" [(ngModel)]="property.accessibility"></p-rating></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Description</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{property.description}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Surface</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{property.surface}}</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Energy Class</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{property.energyClass}}</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Image</label>
                  <div class="col-sm-9">
                    <p class="form-control-static"><img height="200" width="200" [src]="property.imageUrl" /></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
