<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">{{propertyId ? 'Edit' : 'Add'}}</div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="form" (submit)="saveProperty()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Name</label>
                  <div class="col-sm-9">
                    <input class="form-control" name="name" formControlName="name"/>
                    <div class="font-red" *ngIf="!form.controls['name'].valid && form.controls['name'].touched">This field is required!</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Accessibility</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">
                      <p-rating name="accessibility"
                                formControlName="accessibility" name="accessibility" ></p-rating>
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Description</label>
                  <div class="col-sm-9">
                    <textarea formControlName="description" class="form-control" name="description"></textarea>
                    <div class="font-red" *ngIf="!form.controls['description'].valid && form.controls['description'].touched">This field is required!</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Surface</label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="surface" name="surface" class="form-control" />
                    <div class="font-red" *ngIf="!form.controls['surface'].valid && form.controls['surface'].touched">This field is required!</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Energy Class</label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="energyClass" name="energyClass" class="form-control" />
                    <div class="font-red" *ngIf="!form.controls['energyClass'].valid && form.controls['energyClass'].touched">This field is required!</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-3">Image Url</label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="imageUrl" name="imageUrl" class="form-control" />
                    <div class="font-red" *ngIf="!form.controls['imageUrl'].valid && form.controls['imageUrl'].touched">Please enter a valid image url!</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-right">
                <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Save</button>
                <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
