<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Login</div>
      <div class="card-body">
        <span *ngIf="isLoggedIn()">Hi! You are already logged in</span>
        <form *ngIf="!isLoggedIn()" (submit)="login()" class="form-inline">
          <div class="form-group">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" style="margin-right: 5px;" [(ngModel)]="user.userName" name="username" class="form-control" id="inputUsername" placeholder="Username">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="this.user.userName.length == 0">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>


